/* app css stylesheet */
@charset "UTF-8";

body {
  padding: 0px;
  font-family: '微软雅黑', 'STHeiti', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  /*font-size: 13px;*/
  line-height: 1.7em;
  background: #FFF;
  color: #1F1E1D;
  -webkit-font-smoothing: subpixel-antialiased;
}

.hidden {
  display: none;
  /*visibility: hidden;*/
}

.item .title {
  text-shadow: 0 1px hsla( 0, 0%, 100%, 0.5 );
  margin: 0.5em 0em 0.5em 0.5em;  
  /*border-bottom: 1px solid black;*/
  font-size: 1.6rem;
  color: #521407;
}
.item .footnote {
  text-shadow: 0 1px hsla( 0, 0%, 100%, 0.5 );
  margin: 0.5em 0em 0.5em 0.5em;  
  /*border-top: 1px solid black;*/
  font-size: 1.8rem;
  color: #521407;
}

.fz3 {
  font-size: 3rem;
  padding-bottom: 8px;   
}
.fb {
  font-weight: bold;
}
.maxwidth250 {
  max-width: 250px;
}
.minwidth250 {
  min-width: 250px;
}

.title a:hover {
  text-shadow: black;
  color: #22F;
}

.item .description {
  padding-left: 10px;  
  overflow: hidden;	
	display: -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical; 		
}

input[type="text"] {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background: yellow;
}


.games {
  list-style: none;
}

.thumb {
  float: left;
  margin: 0em 0.5em 0.5em 0.5em;
  /*padding-bottom: 1em;*/
  /*height: 100px;*/
  width: 110px;
}

.thumbnail a > img {
  max-height: 140px;
}
/** Detail View **/
img.game {
  float: left;
  margin-right: 2em;
  margin-bottom: 1em;
  /*background-color: white;*/
  padding: 1em;
  /*height: 400px;*/
  width: 220px;
  display: none;
}

img.game:first-child {
  display: block;
}

.container2 {
  margin-top: 15px;
  margin-bottom: 50px;
  position: relative;
  padding: 0px;
  overflow: hidden;
}

.item {
  width:  290px;
  float: left;
  border: 1px solid #ccc;
  padding: 5px;
  padding-right: 5px;	
  padding-bottom: 15px;	
  margin: 8px;
  border-top-right-radius: 3em;
  background: #EEE;
  color: #222;
}
.container2 > .item {
  height: 235px;
}

.item.pc, .item.mac {
	border-left: 2px dotted #F00;
}
.item.dreamcast, .item.saturn, .item.segacd , .item.genesis,
.item.ouya, .item.ngage  {
	border: 2px dotted #000;
}

.item.xbox, .item.xboxone, .item.xbox360 {
	border-left: 10px solid #4aa545;
	background: #CFFB71;
}
.item.ps, .item.ps2, .item.ps3, .item.ps4, .item.psp, .item.vita {
	border-left: 10px solid #2637a6;
	background: #D6E6FA;
}
/*3ds is not a valid class name, so ... ds3*/
.item.snes, .item.ds3, .item.ds, .item.gameboy, .item.gamecube, .item.gba, .item.gbc, .item.n64, .item.wii, .item.wii-u {
	border-left: 10px solid #CBCAC6;
}
.item.iphone, .item.mobile {
	border: 2px solid #7B7615; 
	background: #9EF7B0;
	/*background: -webkit-linear-gradient(0deg, #eee, #eee, #eee, #eee, #eee, #eee, #eee, #f00);*/
}

.pad45{margin-top:45px;}
#maindiv{  padding: 5px; }

@media handheld, screen and (max-width: 1720px){
    b.variablecolor {
        color: purple;
    }
} 

@media handheld, screen and (max-width: 1180px){
    b.variablecolor {
        color: green;
    }
} 

@media handheld, screen and (max-width: 800px){
    b.variablecolor {
        color: blue;
    }
}  

@media handheld, screen and (max-width: 620px){
    b.variablecolor {
        color: red;
    }
	select {
		width: 220px;
	}	
	.item {
		width:  260px;
	}	 
}

@media handheld, screen and (max-width: 560px){
    b.variablecolor {
        color: darkgrey;
    }
	.item {
		width:  290px;
	}	 
}

.description {  
  /* background: #EEE; */
  max-height: 9.5em;
}

h1 {
  border-bottom: 1px solid gray;
  text-shadow: 0 1px hsla( 0, 0%, 100%, 0.5 );
}

.Encoding_Regular {
  font-family: Lucida Sans, Verdana, Helvetica, Arial, Sans-serif;
  font-style: italic;
}

.Encoding_CJK {
  font-family: 'STHeiti', '微软雅黑', 'Hiragino Sans GB', '微软雅黑 Light', 'DejaVu Sans', "Microsoft YaHei";;
}

.TAG {
  font-family: 'Condiment', Lucida Sans, Verdana, Helvetica, Arial, Sans-serif;
}

.markdown {
  padding: 0.5em;
  margin: 0.5em 0.5em 0.5em 0.5em;  
  /*background: #EEE; */
}

.game-images {
  background-color: white;
  width: 280px;
  /*height: 280px;*/
  overflow: hidden;
  position: relative;
  float: left;
  padding: 1em;  
  box-sizing: border-box;  
  margin: 0.5em 2em 0.5em 0.5em;  
  background: #EEE; 
}

/*
	genre-list
*/
.genre-list .genre{display:inline-block;padding:0 5px;margin:5px 5px 0 0;border-radius:3px}
.genre-list li{display:inline-block;
	border: 1px solid #c2c2c2;
	background-color: #ffe6e6;
	margin:5px 5px 0 0;
}


/*
	system-list
*/
.system-list-special .system{background-color: #ff0000;
	padding: 0px 6px 0px 6px;
	margin: 0px 3px 3px 0px;
}
.system-list li{display:inline-block;
	border: 1px solid #c2c2c2;
	background-color: #e6e6e6;
	margin:5px 5px 0 0;
}

.system-list .system{display:inline-block;padding:0 5px;margin:5px 5px 0 0;border-radius:3px}
.system-list-small .system{display:inline-block;background:none;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);font-size:12px;padding:0;margin:0;border:0}
.system-list-special .system{background:none left center no-repeat;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
	/*border:0;*/
	line-height:28px;/*padding:0;margin:0 10px 0 0*/
	background-color: #e6e6e6;
}

.system-list-special li{display:inline-block;
	border: 1px solid #c2c2c2;
	background-color: #e6e6e6;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5){.system-list-special .system{background-size:24px 24px}}
.system-list-special .system.X360, .system-list-special .system.xbox360,
.system-list-special .system.XONE, .system-list-special .system.xboxone,
.system-list-special .system.PC, .system-list-special .system.pc,
.system-list-special .system.PS3, .system-list-special .system.ps3,
.system-list-special .system.PS4, .system-list-special .system.ps4,
.system-list-special .system.WIIU, .system-list-special .system.wiiu,
.system-list-special .system.WII, .system-list-special .system.wii,
.system-list-special .system.PS3N,
.system-list-special .system.XBLM{
	padding:0px 6px 0px 30px;
}
.system-list-special .system.X360, .system-list-special .system.xbox360{
	background-image:url(../img/icons/icn-system-xbox360-24x24.png);
	background-position: left 3px bottom 2px;
	border: 1px solid #4aa545;
	border-left: 10px solid #4aa545;
	background-color: #CFFB71;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5){.system-list-special .system.X360{background-image:url(../img/icons/icn-system-xbox360-48x48.png)}}
.system-list-special .system.XONE, .system-list-special .system.xboxone{
	background-image:url(../img/icons/icn-system-xboxone-24x24.png);
	background-position: left 3px bottom 2px;
	border: 1px solid #4aa545;
	border-left: 10px solid #4aa545;
	background-color: #CFFB71;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5){.system-list-special .system.XONE{background-image:url(../img/icons/icn-system-xboxone-48x48.png)}}
.system-list-special .system.PC, .system-list-special .system.pc{background-image:url(../img/icons/icn-system-pc-24x24.png)}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5){.system-list-special .system.PC{background-image:url(../img/icons/icn-system-pc-48x48.png)}}
.system-list-special .system.PS3, .system-list-special .system.ps3{
	background-image:url(../img/icons/icn-system-ps3-24x24.png);
	background-position: left 3px bottom 2px;
	border: 1px solid #2637a6;
	border-left: 10px solid #2637a6;
	background-color: #D6E6FA;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5){.system-list-special .system.PS3{background-image:url(../img/icons/icn-system-ps3-48x48.png)}}
.system-list-special .system.PS4, .system-list-special .system.ps4{
	background-image:url(../img/icons/icn-system-ps4-24x24.png);
	background-position: left 3px bottom 2px;
	border: 1px solid #2637a6;
	border-left: 10px solid #2637a6;
	background-color: #D6E6FA;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5){.system-list-special .system.PS4{background-image:url(../img/icons/icn-system-ps4-48x48.png)}}
.system-list-special .system.WIIU, .system-list-special .system.wiiu{background-image:url(../img/icons/icn-system-wiiu-24x24.png);
	border-left: 10px solid #CBCAC6;
}
.system-list-special .system.WII, .system-list-special .system.wii{background-image:url(../img/icons/icn-system-wii-24x24.png);
	border-left: 10px solid #CBCAC6;
}
.system-list-special .system.PS3N{background-image:url(../img/icons/icn-system-ps3n-24x24.png)}
.system-list-special .system.XBLM{background-image:url(../img/icons/icn-system-xblm-24x24.png)}