<img class="hidden" src="http://lorempixel.com/g/300/300/" alt="for WeiXin to locate" onerror="this.src='img/onerror.jpg';"/>

<div class="container-fluid">

	<div ng-init=
      "categoryList=[
	  {label:' 任何类型', value:'0'}
	  ,{label:'Action,动作', value:'1,Action,动作'}
	  ,{label:'Action Adventure,动作冒险', value:'1,Action-Adventure,动作冒险'}
	  ,{label:'Adventure,冒险解谜', value:'1,Adventure,冒险解谜'}
	  ,{label:'Casual,休闲益智', value:'1,Casual,休闲益智'}
	  ,{label:'Miscellaneous,其他类', value:'1,Miscellaneous,其他类'}
	  ,{label:'Racing,竞速', value:'1,Racing,竞速'}
	  ,{label:'Role-Playing,角色扮演', value:'1,Role-Playing,角色扮演'}
	  ,{label:'Simulation,模拟', value:'1,Simulation,模拟'}
	  ,{label:'Sports,体育竞技', value:'1,Sports,体育竞技'}
	  ,{label:'Strategy,策略', value:'1,Strategy,策略'}
      ] ">
	</div>	
    <!--
	<div ng-init=
      "categoryList=[
	  {label:' 任何类型', value:'0'}
	  ,{label:'Action ', value:'action'}
	  ,{label:'Action &gt;&gt; Arcade ', value:'289'}
	  ,{label:'Action &gt;&gt; Beat-\'Em-Up ', value:'318'}
	  ,{label:'Action &gt;&gt; Beat-\'Em-Up &gt;&gt; 2D ', value:'160'}
	  ,{label:'Action &gt;&gt; Beat-\'Em-Up &gt;&gt; 3D ', value:'216'}
	  ,{label:'Action &gt;&gt; Fighting ', value:'57'}
	  ,{label:'Action &gt;&gt; Fighting &gt;&gt; 2D ', value:'86'}
	  ,{label:'Action &gt;&gt; Fighting &gt;&gt; 3D ', value:'87'}
	  ,{label:'Action &gt;&gt; General ', value:'250'}
	  ,{label:'Action &gt;&gt; Pinball ', value:'114'}
	  ,{label:'Action &gt;&gt; Platformer ', value:'56'}
	  ,{label:'Action &gt;&gt; Platformer &gt;&gt; 2D ', value:'84'}
	  ,{label:'Action &gt;&gt; Platformer &gt;&gt; 3D ', value:'85'}
	  ,{label:'Action &gt;&gt; Rhythm ', value:'63'}
	  ,{label:'Action &gt;&gt; Rhythm &gt;&gt; Dancing ', value:'158'}
	  ,{label:'Action &gt;&gt; Rhythm &gt;&gt; Music ', value:'159'}
	  ,{label:'Action &gt;&gt; Shooter ', value:'55'}
	  ,{label:'Action &gt;&gt; Shooter &gt;&gt; First-Person ', value:'79'}
	  ,{label:'Action &gt;&gt; Shooter &gt;&gt; First-Person &gt;&gt; Arcade ', value:'152'}
	  ,{label:'Action &gt;&gt; Shooter &gt;&gt; First-Person &gt;&gt; Tactical ', value:'156'}
	  ,{label:'Action &gt;&gt; Shooter &gt;&gt; Light Gun ', value:'239'}
	  ,{label:'Action &gt;&gt; Shooter &gt;&gt; Rail ', value:'81'}
	  ,{label:'Action &gt;&gt; Shooter &gt;&gt; Shoot-\'Em-Up ', value:'313'}
	  ,{label:'Action &gt;&gt; Shooter &gt;&gt; Shoot-\'Em-Up &gt;&gt; Horizontal ', value:'185'}
	  ,{label:'Action &gt;&gt; Shooter &gt;&gt; Shoot-\'Em-Up &gt;&gt; Top-Down ', value:'272'}
	  ,{label:'Action &gt;&gt; Shooter &gt;&gt; Shoot-\'Em-Up &gt;&gt; Vertical ', value:'83'}
	  ,{label:'Action &gt;&gt; Shooter &gt;&gt; Third-Person ', value:'80'}
	  ,{label:'Action &gt;&gt; Shooter &gt;&gt; Third-Person &gt;&gt; Arcade ', value:'182'}
	  ,{label:'Action &gt;&gt; Shooter &gt;&gt; Third-Person &gt;&gt; Tactical ', value:'187'}
	  ,{label:'Action Adventure ', value:'163'}
	  ,{label:'Action Adventure &gt;&gt; General ', value:'290'}
	  ,{label:'Action Adventure &gt;&gt; Linear ', value:'293'}
	  ,{label:'Action Adventure &gt;&gt; Open-World ', value:'292'}
	  ,{label:'Action Adventure &gt;&gt; Sandbox ', value:'291'}
	  ,{label:'Action Adventure &gt;&gt; Survival ', value:'164'}
	  ,{label:'Adventure ', value:'adventure'}
	  ,{label:'Adventure &gt;&gt; 3D ', value:'77'}
	  ,{label:'Adventure &gt;&gt; 3D &gt;&gt; First-Person ', value:'190'}
	  ,{label:'Adventure &gt;&gt; 3D &gt;&gt; Third-Person ', value:'192'}
	  ,{label:'Adventure &gt;&gt; General ', value:'251'}
	  ,{label:'Adventure &gt;&gt; Point-and-Click ', value:'295'}
	  ,{label:'Adventure &gt;&gt; Text ', value:'262'}
	  ,{label:'Adventure &gt;&gt; Visual Novel ', value:'294'}
	  ,{label:'Hardware ', value:'263'}
	  ,{label:'Hardware &gt;&gt; Console ', value:'264'}
	  ,{label:'Hardware &gt;&gt; General ', value:'265'}
	  ,{label:'Miscellaneous ', value:'49'}
	  ,{label:'Miscellaneous &gt;&gt; Application ', value:'277'}
	  ,{label:'Miscellaneous &gt;&gt; Board / Card Game ', value:'227'}
	  ,{label:'Miscellaneous &gt;&gt; Compilation ', value:'233'}
	  ,{label:'Miscellaneous &gt;&gt; Demo Disc ', value:'280'}
	  ,{label:'Miscellaneous &gt;&gt; Edutainment ', value:'275'}
	  ,{label:'Miscellaneous &gt;&gt; Exercise / Fitness ', value:'287'}
	  ,{label:'Miscellaneous &gt;&gt; Gambling ', value:'113'}
	  ,{label:'Miscellaneous &gt;&gt; General ', value:'256'}
	  ,{label:'Miscellaneous &gt;&gt; Party / Minigame ', value:'181'}
	  ,{label:'Miscellaneous &gt;&gt; Trivia / Game Show ', value:'224'}
	  ,{label:'Puzzle ', value:'puzzle'}
	  ,{label:'Puzzle &gt;&gt; Action ', value:'282'}
	  ,{label:'Puzzle &gt;&gt; General ', value:'281'}
	  ,{label:'Puzzle &gt;&gt; Hidden Object ', value:'286'}
	  ,{label:'Puzzle &gt;&gt; Logic ', value:'285'}
	  ,{label:'Puzzle &gt;&gt; Matching ', value:'283'}
	  ,{label:'Puzzle &gt;&gt; Stacking ', value:'284'}
	  ,{label:'Racing ', value:'racing'}
	  ,{label:'Racing &gt;&gt; Arcade ', value:'314'}
	  ,{label:'Racing &gt;&gt; Arcade &gt;&gt; Automobile ', value:'232'}
	  ,{label:'Racing &gt;&gt; Arcade &gt;&gt; Futuristic ', value:'139'}
	  ,{label:'Racing &gt;&gt; Arcade &gt;&gt; Other ', value:'235'}
	  ,{label:'Racing &gt;&gt; General ', value:'252'}
	  ,{label:'Racing &gt;&gt; Simulation ', value:'315'}
	  ,{label:'Racing &gt;&gt; Simulation &gt;&gt; Automobile ', value:'138'}
	  ,{label:'Racing &gt;&gt; Simulation &gt;&gt; Other ', value:'274'}
	  ,{label:'Role-Playing ', value:'role-playing'}
	  ,{label:'Role-Playing &gt;&gt; Action RPG ', value:'73'}
	  ,{label:'Role-Playing &gt;&gt; General ', value:'257'}
	  ,{label:'Role-Playing &gt;&gt; Japanese-Style ', value:'71'}
	  ,{label:'Role-Playing &gt;&gt; Massively Multiplayer ', value:'75'}
	  ,{label:'Role-Playing &gt;&gt; Roguelike ', value:'296'}
	  ,{label:'Role-Playing &gt;&gt; Trainer ', value:'297'}
	  ,{label:'Role-Playing &gt;&gt; Western-Style ', value:'72'}
	  ,{label:'Simulation ', value:'Simulation'}
	  ,{label:'Simulation &gt;&gt; Flight ', value:'68'}
	  ,{label:'Simulation &gt;&gt; Flight &gt;&gt; Civilian ', value:'157'}
	  ,{label:'Simulation &gt;&gt; Flight &gt;&gt; Combat ', value:'130'}
	  ,{label:'Simulation &gt;&gt; General ', value:'255'}
	  ,{label:'Simulation &gt;&gt; Marine ', value:'317'}
	  ,{label:'Simulation &gt;&gt; Marine &gt;&gt; Civilian ', value:'126'}
	  ,{label:'Simulation &gt;&gt; Marine &gt;&gt; Combat ', value:'125'}
	  ,{label:'Simulation &gt;&gt; Space ', value:'69'}
	  ,{label:'Simulation &gt;&gt; Space &gt;&gt; Civilian ', value:'133'}
	  ,{label:'Simulation &gt;&gt; Space &gt;&gt; Combat ', value:'132'}
	  ,{label:'Simulation &gt;&gt; Vehicle ', value:'316'}
	  ,{label:'Simulation &gt;&gt; Vehicle &gt;&gt; Civilian ', value:'298'}
	  ,{label:'Simulation &gt;&gt; Vehicle &gt;&gt; Combat ', value:'124'}
	  ,{label:'Simulation &gt;&gt; Vehicle &gt;&gt; Train ', value:'259'}
	  ,{label:'Simulation &gt;&gt; Virtual ', value:'311'}
	  ,{label:'Simulation &gt;&gt; Virtual &gt;&gt; Career ', value:'300'}
	  ,{label:'Simulation &gt;&gt; Virtual &gt;&gt; Pet ', value:'299'}
	  ,{label:'Simulation &gt;&gt; Virtual &gt;&gt; Virtual Life ', value:'242'}
	  ,{label:'Sports ', value:'sports'}
	  ,{label:'Sports &gt;&gt; General ', value:'254'}
	  ,{label:'Sports &gt;&gt; Individual ', value:'92'}
	  ,{label:'Sports &gt;&gt; Individual &gt;&gt; Athletics ', value:'231'}
	  ,{label:'Sports &gt;&gt; Individual &gt;&gt; Biking ', value:'103'}
	  ,{label:'Sports &gt;&gt; Individual &gt;&gt; Billiards ', value:'112'}
	  ,{label:'Sports &gt;&gt; Individual &gt;&gt; Bowling ', value:'243'}
	  ,{label:'Sports &gt;&gt; Individual &gt;&gt; Combat ', value:'312'}
	  ,{label:'Sports &gt;&gt; Individual &gt;&gt; Combat &gt;&gt; Boxing / Martial Arts ', value:'104'}
	  ,{label:'Sports &gt;&gt; Individual &gt;&gt; Combat &gt;&gt; Wrestling ', value:'93'}
	  ,{label:'Sports &gt;&gt; Individual &gt;&gt; Golf ', value:'98'}
	  ,{label:'Sports &gt;&gt; Individual &gt;&gt; Golf &gt;&gt; Arcade ', value:'206'}
	  ,{label:'Sports &gt;&gt; Individual &gt;&gt; Golf &gt;&gt; Sim ', value:'207'}
	  ,{label:'Sports &gt;&gt; Individual &gt;&gt; Horse Racing ', value:'278'}
	  ,{label:'Sports &gt;&gt; Individual &gt;&gt; Nature ', value:'108'}
	  ,{label:'Sports &gt;&gt; Individual &gt;&gt; Nature &gt;&gt; Fishing ', value:'109'}
	  ,{label:'Sports &gt;&gt; Individual &gt;&gt; Nature &gt;&gt; Hunting ', value:'110'}
	  ,{label:'Sports &gt;&gt; Individual &gt;&gt; Other ', value:'246'}
	  ,{label:'Sports &gt;&gt; Individual &gt;&gt; Skate / Skateboard ', value:'102'}
	  ,{label:'Sports &gt;&gt; Individual &gt;&gt; Ski / Snowboard ', value:'273'}
	  ,{label:'Sports &gt;&gt; Individual &gt;&gt; Surf / Wakeboard ', value:'238'}
	  ,{label:'Sports &gt;&gt; Individual &gt;&gt; Tennis ', value:'101'}
	  ,{label:'Sports &gt;&gt; Team ', value:'91'}
	  ,{label:'Sports &gt;&gt; Team &gt;&gt; Baseball ', value:'94'}
	  ,{label:'Sports &gt;&gt; Team &gt;&gt; Baseball &gt;&gt; Arcade ', value:'200'}
	  ,{label:'Sports &gt;&gt; Team &gt;&gt; Baseball &gt;&gt; Sim ', value:'201'}
	  ,{label:'Sports &gt;&gt; Team &gt;&gt; Basketball ', value:'95'}
	  ,{label:'Sports &gt;&gt; Team &gt;&gt; Basketball &gt;&gt; Arcade ', value:'202'}
	  ,{label:'Sports &gt;&gt; Team &gt;&gt; Basketball &gt;&gt; Sim ', value:'203'}
	  ,{label:'Sports &gt;&gt; Team &gt;&gt; Cricket ', value:'258'}
	  ,{label:'Sports &gt;&gt; Team &gt;&gt; Football ', value:'97'}
	  ,{label:'Sports &gt;&gt; Team &gt;&gt; Football &gt;&gt; Arcade ', value:'204'}
	  ,{label:'Sports &gt;&gt; Team &gt;&gt; Football &gt;&gt; Sim ', value:'205'}
	  ,{label:'Sports &gt;&gt; Team &gt;&gt; Futuristic ', value:'107'}
	  ,{label:'Sports &gt;&gt; Team &gt;&gt; Ice Hockey ', value:'99'}
	  ,{label:'Sports &gt;&gt; Team &gt;&gt; Ice Hockey &gt;&gt; Arcade ', value:'208'}
	  ,{label:'Sports &gt;&gt; Team &gt;&gt; Ice Hockey &gt;&gt; Sim ', value:'209'}
	  ,{label:'Sports &gt;&gt; Team &gt;&gt; Other ', value:'310'}
	  ,{label:'Sports &gt;&gt; Team &gt;&gt; Rugby ', value:'244'}
	  ,{label:'Sports &gt;&gt; Team &gt;&gt; Soccer ', value:'100'}
	  ,{label:'Sports &gt;&gt; Team &gt;&gt; Soccer &gt;&gt; Arcade ', value:'210'}
	  ,{label:'Sports &gt;&gt; Team &gt;&gt; Soccer &gt;&gt; Management ', value:'212'}
	  ,{label:'Sports &gt;&gt; Team &gt;&gt; Soccer &gt;&gt; Sim ', value:'211'}
	  ,{label:'Sports &gt;&gt; Team &gt;&gt; Volleyball ', value:'105'}
	  ,{label:'Strategy ', value:'strategy'}
	  ,{label:'Strategy &gt;&gt; General ', value:'253'}
	  ,{label:'Strategy &gt;&gt; Management ', value:'60'}
	  ,{label:'Strategy &gt;&gt; Management &gt;&gt; Business / Tycoon ', value:'220'}
	  ,{label:'Strategy &gt;&gt; Management &gt;&gt; Government ', value:'123'}
	  ,{label:'Strategy &gt;&gt; Real-Time ', value:'58'}
	  ,{label:'Strategy &gt;&gt; Real-Time &gt;&gt; Command ', value:'302'}
	  ,{label:'Strategy &gt;&gt; Real-Time &gt;&gt; Defense ', value:'303'}
	  ,{label:'Strategy &gt;&gt; Real-Time &gt;&gt; General ', value:'301'}
	  ,{label:'Strategy &gt;&gt; Real-Time &gt;&gt; MOBA ', value:'288'}
	  ,{label:'Strategy &gt;&gt; Real-Time &gt;&gt; Tactics ', value:'304'}
	  ,{label:'Strategy &gt;&gt; Turn-Based ', value:'59'}
	  ,{label:'Strategy &gt;&gt; Turn-Based &gt;&gt; 4X ', value:'306'}
	  ,{label:'Strategy &gt;&gt; Turn-Based &gt;&gt; Artillery ', value:'307'}
	  ,{label:'Strategy &gt;&gt; Turn-Based &gt;&gt; Card Battle ', value:'240'}
	  ,{label:'Strategy &gt;&gt; Turn-Based &gt;&gt; General ', value:'305'}
	  ,{label:'Strategy &gt;&gt; Turn-Based &gt;&gt; Tactics ', value:'308'}
	  ,{label:'角色扮演', value:'角色扮演'}
	  ,{label:'角色扮演 &gt;&gt; 卡牌', value:'卡牌战斗'}
	  ,{label:'跑酷躲避', value:'跑酷躲避'}
	  ,{label:'塔防', value:'塔防'}
	  ,{label:'消除', value:'消除'}
	  ,{label:'射击', value:'射击'}
	  ,{label:'射击 &gt;&gt; 飞行', value:'射击飞行'}
	  ,{label:'棋牌', value:'棋牌'}
	  ,{label:'其他', value:'其他'}
	  ,{label:'策略', value:'策略'}
	  ,{label:'动作', value:'动作'}
	  ,{label:'模拟', value:'模拟'}
	  ,{label:'模拟 &gt;&gt; 经营', value:'模拟经营'}
	  ,{label:'竞速', value:'竞速'}
	  ,{label:'儿童', value:'儿童'}
	  ,{label:'恋爱养成', value:'恋爱养成'}
	  ,{label:'冒险解谜', value:'冒险解谜'}
	  ,{label:'体育', value:'体育'}
	  ,{label:'体育 &gt;&gt; 竞技', value:'体育竞技'}
	  ,{label:'休闲', value:'休闲'}
	  ,{label:'休闲 &gt;&gt; 竞技', value:'休闲竞技'}
	  ,{label:'休闲 &gt;&gt; 益智', value:'休闲益智'}
	  ,{label:'音乐', value:'音乐'}
	  ,{label:'音乐 &gt;&gt; 节奏', value:'音乐节奏'}
	  ,{label:'桌面游戏', value:'桌面游戏'}
      ] ">
	</div>	
	//-->
    <div ng-init=
      "releaseList=[
	  {label:'任何时间', value:'0'}
	  ,{label:'in the past', value:'1'}
	  ,{label:'in the last month', value:'2'}
	  ,{label:'in the last three months', value:'3'}
	  ,{label:'in the last six months', value:'4'}
	  ,{label:'in the last year', value:'5'}
	  ,{label:'in the future', value:'6'}
	  ,{label:'in 2015', value:'2015'}
	  ,{label:'in 2014', value:'2014'}
	  ,{label:'in 2013', value:'2013'}
	  ,{label:'in 2012', value:'2012'}
	  ,{label:'in 2011', value:'2011'}
	  ,{label:'in 2010', value:'2010'}
	  ,{label:'in 2009', value:'2009'}
	  ,{label:'in 2008', value:'2008'}
	  ,{label:'in 2007', value:'2007'}
	  ,{label:'in 2006', value:'2006'}
	  ,{label:'in 2005', value:'2005'}
	  ,{label:'in 2004', value:'2004'}
	  ,{label:'in 2003', value:'2003'}
	  ,{label:'in 2002', value:'2002'}
	  ,{label:'in 2001', value:'2001'}
	  ,{label:'in 2000', value:'2000'}
	  ,{label:'in 1999', value:'1999'}
	  ,{label:'in 1998', value:'1998'}
	  ,{label:'in 1997', value:'1997'}
	  ,{label:'in 1996', value:'1996'}
	  ,{label:'in 1995', value:'1995'}
	  ,{label:'in 1994', value:'1994'}
	  ,{label:'in 1993', value:'1993'}
	  ,{label:'in 1992', value:'1992'}
	  ,{label:'in 1991', value:'1991'}
	  ,{label:'in 1990', value:'1990'}
	  ,{label:'in 1989', value:'1989'}
	  ,{label:'in 1988', value:'1988'}
	  ,{label:'in 1987', value:'1987'}
	  ,{label:'in 1986', value:'1986'}
	  ,{label:'in 1985', value:'1985'}
	  ,{label:'in 1984', value:'1984'}
	  ,{label:'in 1983', value:'1983'}
	  ,{label:'in 1982', value:'1982'}
	  ,{label:'in 1981', value:'1981'}
	  ,{label:'in 1980', value:'1980'}
	  ,{label:'in 1979', value:'1979'}
	  ,{label:'in 1978', value:'1978'}
	  ,{label:'in 1977', value:'1977'}
	  ,{label:'in 1976', value:'1976'}
	  ,{label:'in 1975', value:'1975'}
	  ,{label:'in 1974', value:'1974'}
	  ,{label:'in 1973', value:'1973'}
	  ,{label:'in 1972', value:'1972'}
	  ,{label:'in 1971', value:'1971'}
	  ,{label:'in 1970', value:'1970'}
      ] ">
	</div>
    <div ng-init=
      "platformList=[
	  {label:'任何机种', value:'0'}
	  ,{label:'iOS (iPhone/iPad)', value:'iphone'}
	  ,{label:'PC', value:'pc'}
	  ,{label:'Xbox', value:'xbox'}
	  ,{label:'Xbox 360', value:'xbox360'}
	  ,{label:'Xbox One', value:'xboxone'}
	  ,{label:'PlayStation', value:'ps'}
	  ,{label:'PlayStation 2', value:'ps2'}
	  ,{label:'PlayStation 3', value:'ps3'}
	  ,{label:'PlayStation 4', value:'ps4'}
	  ,{label:'PlayStation Vita', value:'vita'}
	  ,{label:'PSP', value:'psp'}
	  ,{label:'Wii', value:'wii'}
	  ,{label:'Wii U', value:'wii-u'}
	  ,{label:'GameCube', value:'gamecube'}
	  ,{label:'Nintendo 64', value:'n64'}
	  ,{label:'Super Nintendo', value:'snes'}
	  ,{label:'3DS', value:'3ds'}
	  ,{label:'DS', value:'ds'}
	  ,{label:'Game Boy', value:'gameboy'}
	  ,{label:'Game Boy Advance', value:'gba'}
	  ,{label:'Game Boy Color', value:'gbc'}
	  ,{label:'Android', value:'android'}
	  ,{label:'Dreamcast', value:'dreamcast'}
	  ,{label:'Genesis', value:'genesis'}
	  ,{label:'Macintosh', value:'mac'}
	  ,{label:'Mobile', value:'mobile'}
	  ,{label:'N-Gage', value:'ngage'}
	  ,{label:'Ouya', value:'ouya'}
	  ,{label:'Saturn', value:'saturn'}
	  ,{label:'Sega CD', value:'segacd'}
	  ,{label:'Smart Toy 智能玩具', value:'smarttoy'}
      ] ">
	</div>
	
	
	<div class="row" ng-controller="GameSearchCtrl">
		<div>
			<form ng-submit="submit()">
				类型: <select name="cat" ng-model="genreInput" ng-options="x.value as x.label for x in categoryList" ></select><br/>
				时间: <select name="year" ng-model="yearInput" size="1" ng-options="x.value as x.label for x in releaseList" ></select><br/>
				机种: <select name="platform" ng-model="platformInput" size="1" ng-options="x.value as x.label for x in platformList" ></select><br/>
				TAG: <input name="tag" type="text" ng-model="tagInput" size="20"/><br/>
				搜索: <input name="keyword" type="text" ng-model="keywordInput" size="20"/>
				<input type="submit" id="submit" value="Search/Browse" />
			</form>
			<p>
			何不试试
				<a href="index.html#/search/v=腾讯&p=iphone&g=Action">腾讯动作手游</a>,
				<a href="index.html#/search/v=腾讯&p=iphone&g=Casual">腾讯休闲益智手游</a>,
				<a href="index.html#/search/v=VR">VR体验</a>,
				<a href="index.html#/search/p=smarttoy">智能玩具</a>,
				<a href="index.html#/search/v=首发&p=xboxone">XboxOne首发</a>,
				<a href="index.html#/search/v=首发&p=ps4">PS4首发</a>,
				<a href="index.html#/search/v=首发&p=vita">PS Vita首发</a>,
				<a href="index.html#/search/v=Warcraft">魔兽</a>,
				<a href="index.html#/search/v=Final&p=ps2">Final+PS2</a>,
				<a href="index.html#/search/v=Final&p=xbox360">Final+360</a>,
				<a href="index.html#/search/v=Saga&g=Role-Playing">名字里带Saga的RPG</a>,
				<a href="index.html#/search/v=体育">体育</a>,
				<a href="index.html#/search/v=World%20Cup&g=Sports">世界杯关键字体育类游戏</a>,
				<a href="index.html#/search/v=360">360</a>,
				<a href="index.html#/search/v=天天&p=iphone">天天系列手游</a>,
				<a href="index.html#/search/v=三国">三国</a>,
				<a href="index.html#/search/v=X&p=iphone&g=Action">名字里带X的动作手游</a>
				？
			</p>				
		</div>
		<div>
			<!--Body content-->
			<div>
				<!--<div>
					<ul class="system-list-special">
                             <li class="system PC ">PC</li>
                             <li class="system X360">X360</li>
                             <li class="system XONE">XONE</li>
                             <li class="system PS3">PS3</li>
                             <li class="system PS4">PS4</li>
                             <li class="system WIIU">WIIU</li>
                             <li class="system WII">WII</li>
                             <li class="system PS3N">PS3N</li>
                             <li class="system XBLM">XBLM</li>
                             <li class="system MAC ">MAC</li>
                             <li class="system more js-unhide-lis">+ 3 more</li>
                             <li class="system IPHN">IPHN</li>
                             <li class="system IPAD">IPAD</li>
                    </ul>			
				</div>
				//-->
				<div>
					<ul class="system-list-special">
						<li class="system {{p.Key}}" ng-repeat="p in games.PlatformOutline | orderBy:['-Count','Key']">
							<a href="#/search/v={{keywordInput}}&y={{yearInput}}&g={{genreInput}}&p={{p.Key}}">{{p.Key}} : {{p.Count}}</a>
						</li>
					</ul>
				</div>
				<div>
					<ul class="genre-list">
						<li class="genre {{g.Key}}" ng-repeat="g in games.GenreOutline | orderBy:['-Count','Key']">
							<a href="#/search/v={{keywordInput}}&y={{yearInput}}&p={{platformInput}}&g={{g.Key}}">{{g.Key}} : {{g.Count}}</a>
						</li>
					</ul>							
				</div>
			</div>
			<div id="container2" class="container2">
				<div ng-repeat="game in games.Games | orderBy:['Name','Platform','Id']" class="item thumbnail {{game.Platform}}"
					data-id="{{game.Id}}"
					data-name="{{game.Name}}"
					data-url="#/games/{{game.UrlName}}"
					data-platform="{{game.Platform?game.Platform:GetRandomPlatform(game)}}"
					data-genre="{{game.Genre?game.Genre:GetRandomGenre(game)}}"
					data-tags="{{game.TAGs?game.TAGs:GetRandomTAGs(game)}}"
					data-releasedate="{{game.ReleaseDate?game.ReleaseDate:GetRandomReleaseDate(game)}}"
					>
					<div class="title fb fz3 maxwidth250">
						<a href="#/games/{{game.UrlName}}" class="Encoding_{{game.Encoding?game.Encoding:getEncoding(game.Name)}}" target="_blank">{{game.Name}}</a>
					</div>
					<div>
						<a href="#/games/{{game.UrlName}}" class="thumb" target="_blank" ><img ng-src="http://huangyaoshi.me/gamedb/{{game.Pic}}" alt="{{game.Name}}" onerror="this.src='img/onerror.jpg';"/></a>
						<div class="description">{{game.SimpleDesc}}</div>
					</div>
					<div>
						<div class="footnote description TAG">{{game.Platform}}-{{game.Genre}}</div>
					</div>
				</div>
			</div>
			<!-- #container -->
			<!--
			<p ng-repeat="x in categoryList | orderBy:['value']">{{x.label}}, {{x.value}}</p>
			//-->
		</div> 
	</div>
  
</div>


