<div class="container-fluid">
  <div class="row" ng-controller="GameSearchCtrl">
    <div class="col-md-2">
      <!--Sidebar content-->
	<form ng-submit="submit()">
	  Search:
	  <input type="text" ng-model="text" name="text" />
	  <input type="submit" id="submit" value="Submit" />
	</form>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="phones">
        <li ng-repeat="game in games"
            class="thumbnail phone-listing">
          <a href="#/games/{{game.UrlName}}" target="_blank" class="thumb"><img ng-src="{{game.Pic}}"></a>
          <a href="#/games/{{game.UrlName}}" target="_blank">{{game.Name}}</a>
          <p>{{game.SimpleDesc}}</p>
        </li>
      </ul>

    </div>
  </div>
</div>
