<div class="title">
<h2>{{game.Name}}</h2>
</div>

<div class="description">{{game.SimpleDesc}}</div>

<div class="game-images">
  <img ng-src="http://huangyaoshi.me/gamedb/{{game.Pic}}" class="game" alt="{{game.Name}}" onerror="this.src='img/onerror.jpg';">
</div>

<p>
	<div btf-markdown="markdown">
	</div>
</p>

<b class="variablecolor">TAGs:</b> {{game.TAGs}}<br/>
<b class="variablecolor">Platform:</b> {{game.Platform}}<br/>
<b class="variablecolor">Genre:</b> {{game.Genre}}<br/>
<b class="variablecolor">ReleaseDate:</b> {{game.ReleaseDate}}<br/>
